.c-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style:none;
    color:$co-base0;
    padding: 1rem 0;
    &_item {
        border: 1px solid black;
        border-right: none;
        &#{&}-active {
            background-color: $co-peace;
        }
        &:first-of-type {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }
        &:last-of-type {
            border-right: 1px solid black;
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }
    }
    &_link {
        position: relative;
        display: block;
        padding: 0.5rem;
        @include mq(md) {
            padding: 0.8rem;
        }
    }
    &_overview {
        text-align: center;
    }
}