.c-tra-fade {
    &-enter-active,
    &--leave-active {
        transition: opacity 1s;
    }
    &-enter,
    &-leave-to {
        opacity: 0;
    }
}

.c-tra-slide-down-up {
    &-enter-active,
    &--leave-active {
        transition: all 1s;
    }
    &-enter,
    &-leave-to {
        height: 0;
    }
}

.c-tra-slide-fade {
    &-enter-active {
        transition: all .8s ease;
    }
    &--leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    &-enter,
    &-leave-to {
        transform: translate(100px, 0);
        opacity: 0;
    }
}