.p-news {
    margin: 1rem;
    max-width: $layout-width-innerMain;
    @include mq(md) {
        margin: 1rem auto;
    }
}

.p-news_mono {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $co-base0;
    border: 1px solid $co-base2;
    border-radius: 0.35rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.p-news_mono-title {
    font-size: 1rem;
}

.p-news_mono-sub {
    font-size: 0.75rem;
    color: $co-base3;
}

.p-news_mono-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}