.p-news {
    margin: 1rem;
    max-width: $layout-width-innerMain;
    @include mq(md) {
        margin: 1rem auto;
    }
    &_mono {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: $co-base0;
        border: 1px solid $co-base2;
        border-radius: 0.35rem;
        margin-bottom: 1rem;
        padding: 1rem;
        &-title {
            font-size: 1rem;
        }
        &-sub {
            font-size: 0.75rem;
            color: $co-base3;
        }
        &-link {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
}