@import url(https://fonts.googleapis.com/css?family=Nunito);/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #f7f7f7;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 300;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  cursor: pointer;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.l-body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.l-body_main {
  flex: 1;
}

.l-header {
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  border-bottom: 1px solid #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.l-header_pt {
  padding-top: 3rem;
}

.l-footer {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
}

.c-nav_trigger {
  display: flex;
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 34px;
  z-index: 50;
}

@media screen and (min-width: 768px) {
  .c-nav_trigger {
    display: none;
  }
}

.c-nav_trigger-parts {
  display: flex;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000000;
  border-radius: 4px;
}

.c-nav_trigger-parts:nth-of-type(1) {
  top: 0;
}

.c-nav_trigger-parts:nth-of-type(1).is-active {
  transform: rotate(45deg);
  top: 50%;
}

.c-nav_trigger-parts:nth-of-type(2) {
  top: 15px;
}

.c-nav_trigger-parts:nth-of-type(2).is-active {
  opacity: 0;
}

.c-nav_trigger-parts:nth-of-type(3) {
  bottom: 0;
}

.c-nav_trigger-parts:nth-of-type(3).is-active {
  transform: rotate(-45deg);
  top: 50%;
}

@media screen and (min-width: 768px) {
  .c-nav-sm {
    display: none;
  }
}

.c-nav_ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(183, 183, 183, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c-nav_li {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .c-nav_li {
    margin-bottom: 0;
    margin-left: 1rem;
  }
}

.c-nav-md {
  display: none;
}

@media screen and (min-width: 768px) {
  .c-nav-md {
    display: block;
  }
}

.c-nav_ul-md {
  display: flex;
}

.c-form {
  background-color: #ffffff;
  margin: 1rem;
  padding: 0 1.5rem;
  max-width: 600px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .c-form {
    margin: 1rem auto;
  }
}

.c-form_title {
  text-align: center;
  padding: 1rem;
}

.c-form_content-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.c-input_text {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  background-color: #ffffff;
  border: 1px solid #b7b7b7;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.c-input_select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.c-input_checkbox {
  margin: 0;
}

.c-button {
  display: inline-block;
  font-weight: 400;
  font-size: 0.9rem;
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  line-height: 1.6;
}

.c-button-peace {
  color: #ffffff;
  background-color: #048DFF;
  border-color: #048DFF;
}

.c-button-warning {
  color: #000000;
  background-color: #F7F77C;
  border-color: #F7F77C;
}

.c-button-dark {
  color: #ffffff;
  background-color: #787878;
  border-color: #787878;
}

.c-button_link {
  font-weight: 400;
  color: #048DFF;
  text-decoration: none;
}

.c-title_main {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .c-title_main {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.c-title_article {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

.c-title_sub {
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
}

.c-invalid_input-text {
  border-color: #e3342f;
}

.c-invalid_input-text:focus {
  border-color: #e3342f;
  box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
  outline: 0;
}

.c-invalid_text {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e3342f;
}

.c-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #ffffff;
  padding: 1rem 0;
}

.c-pagination_item {
  border: 1px solid black;
  border-right: none;
}

.c-pagination_item-active {
  background-color: #048DFF;
}

.c-pagination_item:first-of-type {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.c-pagination_item:last-of-type {
  border-right: 1px solid black;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.c-pagination_link {
  position: relative;
  display: block;
  padding: 0.8rem;
}

.p-ranks {
  margin: 1rem;
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  .p-ranks {
    margin: 1rem auto;
  }
}

@media screen and (min-width: 1024px) {
  .p-ranks {
    margin: 1rem;
  }
}

.p-rank {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #b7b7b7;
  border-radius: 0.35rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.p-rank:last-of-type {
  margin-bottom: 0;
}

.p-rank:before {
  content: attr(rank-cnt) "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  border-radius: 0.35rem;
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  top: -1px;
  left: -1px;
}

@media screen and (min-width: 1024px) {
  .p-rank:before {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 3rem;
  }
}

.p-rank:nth-of-type(1):before {
  border: 1px solid #FFD701;
  background-color: #FFD701;
  color: #ffffff;
}

.p-rank:nth-of-type(2):before {
  border: 1px solid #C0C0C0;
  background-color: #C0C0C0;
  color: #ffffff;
}

.p-rank:nth-of-type(3):before {
  border: 1px solid #976B2F;
  background-color: #976B2F;
  color: #ffffff;
}

.p-search-lg {
  display: none;
}

@media screen and (min-width: 1024px) {
  .p-search-lg {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    max-width: 330px;
    margin: 1rem;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #b7b7b7;
    border-radius: 0.35rem;
    padding: 2rem 1rem;
    z-index: 50;
  }
}

.p-search {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .p-search {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    max-width: 330px;
    margin: 1rem;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #b7b7b7;
    border-radius: 0.35rem;
    padding: 3rem 1rem;
  }
}

.p-search_mono {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.p-search_chks {
  margin: 0 auto;
}

.p-search_chk {
  text-align: center;
  display: flex;
}

.p-search_button {
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .p-search_button {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .p-trendRanking {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .p-trendRanking_child:nth-of-type(1) {
    flex: 0 0 30%;
  }
}

@media screen and (min-width: 1024px) {
  .p-trendRanking_child:nth-of-type(2) {
    flex: 0 0 70%;
  }
}

.p-accounts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.p-account {
  padding: 3rem 1rem 1rem;
  width: 100%;
  max-width: 350px;
}

.p-account_inner {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #b7b7b7;
  border-radius: 0.35rem;
  padding: 0.5rem 1rem 1rem;
}

.p-account_inner-img {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  top: -2rem;
}

.p-account_inner-btn {
  text-align: right;
}

.p-account_inner-row {
  display: flex;
}

.p-news {
  margin: 1rem;
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  .p-news {
    margin: 1rem auto;
  }
}

.p-news_mono {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #b7b7b7;
  border-radius: 0.35rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.p-news_mono-title {
  font-size: 1rem;
}

.p-news_mono-sub {
  font-size: 0.75rem;
  color: #787878;
}

.p-news_mono-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*! Emma.css 0.15.0 | MIT License | https://git.io/emma */

.u-pos-s {
  position: static !important;
}

.u-pos-r {
  position: relative !important;
}

.u-pos-a {
  position: absolute !important;
}

.u-pos-sk {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.u-pos-f {
  position: fixed !important;
}

.u-t-a {
  top: auto !important;
}

.u-t0 {
  top: 0 !important;
}

.u-t100p {
  top: 100% !important;
}

.u-r-a {
  right: auto !important;
}

.u-r0 {
  right: 0 !important;
}

.u-r100p {
  right: 100% !important;
}

.u-b-a {
  bottom: auto !important;
}

.u-b0 {
  bottom: 0 !important;
}

.u-b100p {
  bottom: 100% !important;
}

.u-l-a {
  left: auto !important;
}

.u-l0 {
  left: 0 !important;
}

.u-l100p {
  left: 100% !important;
}

.u-z-a {
  z-index: auto !important;
}

.u-z0 {
  z-index: 0 !important;
}

.u-z1 {
  z-index: 1 !important;
}

.u-z2 {
  z-index: 2 !important;
}

.u-z3 {
  z-index: 3 !important;
}

.u-z4 {
  z-index: 4 !important;
}

.u-z5 {
  z-index: 5 !important;
}

.u-z6 {
  z-index: 6 !important;
}

.u-z9999 {
  z-index: 9999 !important;
}

.u-bxz-cb {
  box-sizing: content-box !important;
}

.u-bxz-bb {
  box-sizing: border-box !important;
}

.u-d-i {
  display: inline !important;
}

.u-d-n {
  display: none !important;
}

.u-d-b {
  display: block !important;
}

.u-d-ib {
  display: inline-block !important;
}

.u-d-fx {
  display: flex !important;
}

.u-d-ifx {
  display: inline-flex !important;
}

.u-d-tb {
  display: table !important;
}

.u-d-itb {
  display: inline-table !important;
}

.u-d-tbhg {
  display: table-header-group !important;
}

.u-d-tbfg {
  display: table-footer-group !important;
}

.u-d-tbrg {
  display: table-row-group !important;
}

.u-d-tbr {
  display: table-row !important;
}

.u-d-tbc {
  display: table-cell !important;
}

.u-d-li {
  display: list-item !important;
}

.u-d-ih {
  display: inherit !important;
}

.u-fx-a {
  flex: auto !important;
}

.u-fx-n {
  flex: none !important;
}

.u-fx0 {
  flex: 0 !important;
}

.u-fx1 {
  flex: 1 !important;
}

.u-fx2 {
  flex: 2 !important;
}

.u-fx3 {
  flex: 3 !important;
}

.u-fx0-1-a {
  flex: 0 1 auto !important;
}

.u-fx1-0-a {
  flex: 1 0 auto !important;
}

.u-fx1-1-a {
  flex: 1 1 auto !important;
}

.u-fx0-0-a {
  flex: 0 0 auto !important;
}

.u-fx1-0-0 {
  flex: 1 0 0% !important;
}

.u-fx0-0-100p {
  flex: 0 0 100% !important;
}

.u-fxb-a {
  flex-basis: auto !important;
}

.u-fxb0 {
  flex-basis: 0 !important;
}

.u-fxb1 {
  flex-basis: 1px !important;
}

.u-fxb1p {
  flex-basis: 1% !important;
}

.u-fxb5p {
  flex-basis: 5% !important;
}

.u-fxb10p {
  flex-basis: 10% !important;
}

.u-fxb15p {
  flex-basis: 15% !important;
}

.u-fxb20p {
  flex-basis: 20% !important;
}

.u-fxb25p {
  flex-basis: 25% !important;
}

.u-fxb30p {
  flex-basis: 30% !important;
}

.u-fxb33p {
  flex-basis: 33% !important;
}

.u-fxb34p {
  flex-basis: 34% !important;
}

.u-fxb35p {
  flex-basis: 35% !important;
}

.u-fxb40p {
  flex-basis: 40% !important;
}

.u-fxb45p {
  flex-basis: 45% !important;
}

.u-fxb50p {
  flex-basis: 50% !important;
}

.u-fxb55p {
  flex-basis: 55% !important;
}

.u-fxb60p {
  flex-basis: 60% !important;
}

.u-fxb65p {
  flex-basis: 65% !important;
}

.u-fxb66p {
  flex-basis: 66% !important;
}

.u-fxb67p {
  flex-basis: 67% !important;
}

.u-fxb70p {
  flex-basis: 70% !important;
}

.u-fxb75p {
  flex-basis: 75% !important;
}

.u-fxb80p {
  flex-basis: 80% !important;
}

.u-fxb85p {
  flex-basis: 85% !important;
}

.u-fxb90p {
  flex-basis: 90% !important;
}

.u-fxb95p {
  flex-basis: 95% !important;
}

.u-fxb100p {
  flex-basis: 100% !important;
}

.u-fxb25vw {
  flex-basis: 25vw !important;
}

.u-fxb50vw {
  flex-basis: 50vw !important;
}

.u-fxb75vw {
  flex-basis: 75vw !important;
}

.u-fxb90vw {
  flex-basis: 90vw !important;
}

.u-fxb100vw {
  flex-basis: 100vw !important;
}

.u-fxb25vh {
  flex-basis: 25vh !important;
}

.u-fxb50vh {
  flex-basis: 50vh !important;
}

.u-fxb75vh {
  flex-basis: 75vh !important;
}

.u-fxb90vh {
  flex-basis: 90vh !important;
}

.u-fxb100vh {
  flex-basis: 100vh !important;
}

.u-fxb100vmax {
  flex-basis: 100vmax !important;
}

.u-fxb100vmin {
  flex-basis: 100vmin !important;
}

.u-fxb-c {
  flex-basis: content !important;
}

.u-fxd-r {
  flex-direction: row !important;
}

.u-fxd-rr {
  flex-direction: row-reverse !important;
}

.u-fxd-c {
  flex-direction: column !important;
}

.u-fxd-cr {
  flex-direction: column-reverse !important;
}

.u-fxw-nw {
  flex-wrap: nowrap !important;
}

.u-fxw-w {
  flex-wrap: wrap !important;
}

.u-fxw-wr {
  flex-wrap: wrap-reverse !important;
}

.u-fxs0 {
  flex-shrink: 0 !important;
}

.u-fxs1 {
  flex-shrink: 1 !important;
}

.u-fxs2 {
  flex-shrink: 2 !important;
}

.u-fxs3 {
  flex-shrink: 3 !important;
}

.u-fxg0 {
  flex-grow: 0 !important;
}

.u-fxg1 {
  flex-grow: 1 !important;
}

.u-fxg2 {
  flex-grow: 2 !important;
}

.u-fxg3 {
  flex-grow: 3 !important;
}

.u-ac-fs {
  align-content: flex-start !important;
}

.u-ac-fe {
  align-content: flex-end !important;
}

.u-ac-c {
  align-content: center !important;
}

.u-ac-sb {
  align-content: space-between !important;
}

.u-ac-sa {
  align-content: space-around !important;
}

.u-ac-s {
  align-content: stretch !important;
}

.u-ai-fs {
  align-items: flex-start !important;
}

.u-ai-fe {
  align-items: flex-end !important;
}

.u-ai-c {
  align-items: center !important;
}

.u-ai-b {
  align-items: baseline !important;
}

.u-ai-s {
  align-items: stretch !important;
}

.u-as-a {
  align-self: auto !important;
}

.u-as-fs {
  align-self: flex-start !important;
}

.u-as-fe {
  align-self: flex-end !important;
}

.u-as-c {
  align-self: center !important;
}

.u-as-b {
  align-self: baseline !important;
}

.u-as-s {
  align-self: stretch !important;
}

.u-jc-fs {
  justify-content: flex-start !important;
}

.u-jc-fe {
  justify-content: flex-end !important;
}

.u-jc-c {
  justify-content: center !important;
}

.u-jc-sb {
  justify-content: space-between !important;
}

.u-jc-sa {
  justify-content: space-around !important;
}

.u-ord0 {
  order: 0 !important;
}

.u-ord1 {
  order: 1 !important;
}

.u-ord2 {
  order: 2 !important;
}

.u-ord3 {
  order: 3 !important;
}

.u-ord4 {
  order: 4 !important;
}

.u-ord5 {
  order: 5 !important;
}

.u-ord6 {
  order: 6 !important;
}

.u-ord9999 {
  order: 9999 !important;
}

.u-ord-1 {
  order: -1 !important;
}

.u-ov-v {
  overflow: visible !important;
}

.u-ov-h {
  overflow: hidden !important;
}

.u-ov-s {
  overflow: scroll !important;
}

.u-ov-a {
  overflow: auto !important;
}

.u-ovx-v {
  overflow-x: visible !important;
}

.u-ovx-h {
  overflow-x: hidden !important;
}

.u-ovx-s {
  overflow-x: scroll !important;
}

.u-ovx-a {
  overflow-x: auto !important;
}

.u-ovy-v {
  overflow-y: visible !important;
}

.u-ovy-h {
  overflow-y: hidden !important;
}

.u-ovy-s {
  overflow-y: scroll !important;
}

.u-ovy-a {
  overflow-y: auto !important;
}

.u-v-v {
  visibility: visible !important;
}

.u-v-h {
  visibility: hidden !important;
}

.u-v-c {
  visibility: collapse !important;
}

.u-tbl-a {
  table-layout: auto !important;
}

.u-tbl-f {
  table-layout: fixed !important;
}

.u-cxcy {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.u-fl-n {
  float: none !important;
}

.u-fl-l {
  float: left !important;
}

.u-fl-r {
  float: right !important;
}

.u-cl-n {
  clear: none !important;
}

.u-cl-l {
  clear: left !important;
}

.u-cl-r {
  clear: right !important;
}

.u-cl-b {
  clear: both !important;
}

.u-cf::after {
  content: "";
  display: table;
  clear: both;
}

.u-w-a {
  width: auto !important;
}

.u-w0 {
  width: 0 !important;
}

.u-w1 {
  width: 1px !important;
}

.u-w1p {
  width: 1% !important;
}

.u-w5p {
  width: 5% !important;
}

.u-w10p {
  width: 10% !important;
}

.u-w15p {
  width: 15% !important;
}

.u-w20p {
  width: 20% !important;
}

.u-w25p {
  width: 25% !important;
}

.u-w30p {
  width: 30% !important;
}

.u-w33p {
  width: 33% !important;
}

.u-w34p {
  width: 34% !important;
}

.u-w35p {
  width: 35% !important;
}

.u-w40p {
  width: 40% !important;
}

.u-w45p {
  width: 45% !important;
}

.u-w50p {
  width: 50% !important;
}

.u-w55p {
  width: 55% !important;
}

.u-w60p {
  width: 60% !important;
}

.u-w65p {
  width: 65% !important;
}

.u-w66p {
  width: 66% !important;
}

.u-w67p {
  width: 67% !important;
}

.u-w70p {
  width: 70% !important;
}

.u-w75p {
  width: 75% !important;
}

.u-w80p {
  width: 80% !important;
}

.u-w85p {
  width: 85% !important;
}

.u-w90p {
  width: 90% !important;
}

.u-w95p {
  width: 95% !important;
}

.u-w100p {
  width: 100% !important;
}

.u-w25vw {
  width: 25vw !important;
}

.u-w50vw {
  width: 50vw !important;
}

.u-w75vw {
  width: 75vw !important;
}

.u-w90vw {
  width: 90vw !important;
}

.u-w100vw {
  width: 100vw !important;
}

.u-w100vh {
  width: 100vh !important;
}

.u-w100vmax {
  width: 100vmax !important;
}

.u-w100vmin {
  width: 100vmin !important;
}

.u-miw0 {
  min-width: 0 !important;
}

.u-miw1 {
  min-width: 1px !important;
}

.u-miw1p {
  min-width: 1% !important;
}

.u-miw5p {
  min-width: 5% !important;
}

.u-miw10p {
  min-width: 10% !important;
}

.u-miw15p {
  min-width: 15% !important;
}

.u-miw20p {
  min-width: 20% !important;
}

.u-miw25p {
  min-width: 25% !important;
}

.u-miw30p {
  min-width: 30% !important;
}

.u-miw33p {
  min-width: 33% !important;
}

.u-miw34p {
  min-width: 34% !important;
}

.u-miw35p {
  min-width: 35% !important;
}

.u-miw40p {
  min-width: 40% !important;
}

.u-miw45p {
  min-width: 45% !important;
}

.u-miw50p {
  min-width: 50% !important;
}

.u-miw55p {
  min-width: 55% !important;
}

.u-miw60p {
  min-width: 60% !important;
}

.u-miw65p {
  min-width: 65% !important;
}

.u-miw66p {
  min-width: 66% !important;
}

.u-miw67p {
  min-width: 67% !important;
}

.u-miw70p {
  min-width: 70% !important;
}

.u-miw75p {
  min-width: 75% !important;
}

.u-miw80p {
  min-width: 80% !important;
}

.u-miw85p {
  min-width: 85% !important;
}

.u-miw90p {
  min-width: 90% !important;
}

.u-miw95p {
  min-width: 95% !important;
}

.u-miw100p {
  min-width: 100% !important;
}

.u-miw25vw {
  min-width: 25vw !important;
}

.u-miw50vw {
  min-width: 50vw !important;
}

.u-miw75vw {
  min-width: 75vw !important;
}

.u-miw90vw {
  min-width: 90vw !important;
}

.u-miw100vw {
  min-width: 100vw !important;
}

.u-miw100vh {
  min-width: 100vh !important;
}

.u-miw100vmax {
  min-width: 100vmax !important;
}

.u-miw100vmin {
  min-width: 100vmin !important;
}

.u-maw-n {
  max-width: none !important;
}

.u-maw0 {
  max-width: 0 !important;
}

.u-maw1 {
  max-width: 1px !important;
}

.u-maw1p {
  max-width: 1% !important;
}

.u-maw5p {
  max-width: 5% !important;
}

.u-maw10p {
  max-width: 10% !important;
}

.u-maw15p {
  max-width: 15% !important;
}

.u-maw20p {
  max-width: 20% !important;
}

.u-maw25p {
  max-width: 25% !important;
}

.u-maw30p {
  max-width: 30% !important;
}

.u-maw33p {
  max-width: 33% !important;
}

.u-maw34p {
  max-width: 34% !important;
}

.u-maw35p {
  max-width: 35% !important;
}

.u-maw40p {
  max-width: 40% !important;
}

.u-maw45p {
  max-width: 45% !important;
}

.u-maw50p {
  max-width: 50% !important;
}

.u-maw55p {
  max-width: 55% !important;
}

.u-maw60p {
  max-width: 60% !important;
}

.u-maw65p {
  max-width: 65% !important;
}

.u-maw66p {
  max-width: 66% !important;
}

.u-maw67p {
  max-width: 67% !important;
}

.u-maw70p {
  max-width: 70% !important;
}

.u-maw75p {
  max-width: 75% !important;
}

.u-maw80p {
  max-width: 80% !important;
}

.u-maw85p {
  max-width: 85% !important;
}

.u-maw90p {
  max-width: 90% !important;
}

.u-maw95p {
  max-width: 95% !important;
}

.u-maw100p {
  max-width: 100% !important;
}

.u-maw25vw {
  max-width: 25vw !important;
}

.u-maw50vw {
  max-width: 50vw !important;
}

.u-maw75vw {
  max-width: 75vw !important;
}

.u-maw90vw {
  max-width: 90vw !important;
}

.u-maw100vw {
  max-width: 100vw !important;
}

.u-maw100vh {
  max-width: 100vh !important;
}

.u-maw100vmax {
  max-width: 100vmax !important;
}

.u-maw100vmin {
  max-width: 100vmin !important;
}

.u-h-a {
  height: auto !important;
}

.u-h0 {
  height: 0 !important;
}

.u-h100p {
  height: 100% !important;
}

.u-h100vw {
  height: 100vw !important;
}

.u-h25vh {
  height: 25vh !important;
}

.u-h50vh {
  height: 50vh !important;
}

.u-h75vh {
  height: 75vh !important;
}

.u-h90vh {
  height: 90vh !important;
}

.u-h100vh {
  height: 100vh !important;
}

.u-h100vmax {
  height: 100vmax !important;
}

.u-h100vmin {
  height: 100vmin !important;
}

.u-mih0 {
  min-height: 0 !important;
}

.u-mih1 {
  min-height: 1px !important;
}

.u-mih100vw {
  min-height: 100vw !important;
}

.u-mih25vh {
  min-height: 25vh !important;
}

.u-mih50vh {
  min-height: 50vh !important;
}

.u-mih75vh {
  min-height: 75vh !important;
}

.u-mih90vh {
  min-height: 90vh !important;
}

.u-mih100vh {
  min-height: 100vh !important;
}

.u-mih100vmax {
  min-height: 100vmax !important;
}

.u-mih100vmin {
  min-height: 100vmin !important;
}

.u-mah-n {
  max-height: none !important;
}

.u-mah100p {
  max-height: 100% !important;
}

.u-mah100vw {
  max-height: 100vw !important;
}

.u-mah25vh {
  max-height: 25vh !important;
}

.u-mah50vh {
  max-height: 50vh !important;
}

.u-mah75vh {
  max-height: 75vh !important;
}

.u-mah90vh {
  max-height: 90vh !important;
}

.u-mah100vh {
  max-height: 100vh !important;
}

.u-mah100vmax {
  max-height: 100vmax !important;
}

.u-mah100vmin {
  max-height: 100vmin !important;
}

.u-c-ih {
  color: inherit !important;
}

.u-c-white {
  color: #ffffff !important;
}

.u-c-silver {
  color: #dddddd !important;
}

.u-c-gray {
  color: #aaaaaa !important;
}

.u-c-black {
  color: #000000 !important;
}

.u-c-navy {
  color: #001f3f !important;
}

.u-c-blue {
  color: #0074d9 !important;
}

.u-c-aqua {
  color: #7fdbff !important;
}

.u-c-teal {
  color: #39cccc !important;
}

.u-c-olive {
  color: #3d9970 !important;
}

.u-c-green {
  color: #2ecc40 !important;
}

.u-c-lime {
  color: #01ff70 !important;
}

.u-c-yellow {
  color: #ffdc00 !important;
}

.u-c-orange {
  color: #ff851b !important;
}

.u-c-red {
  color: #ff4136 !important;
}

.u-c-maroon {
  color: #85144b !important;
}

.u-c-fuchsia {
  color: #f012be !important;
}

.u-c-purple {
  color: #b10dc9 !important;
}

.u-c-primary {
  color: #0275d8 !important;
}

.u-c-success {
  color: #5cb85c !important;
}

.u-c-info {
  color: #5bc0de !important;
}

.u-c-warning {
  color: #f0ad4e !important;
}

.u-c-danger {
  color: #d9534f !important;
}

.u-ta-l {
  text-align: left !important;
}

.u-ta-c {
  text-align: center !important;
}

.u-ta-r {
  text-align: right !important;
}

.u-ta-j {
  text-align: justify !important;
}

.u-te-n {
  -webkit-text-emphasis: none !important;
          text-emphasis: none !important;
}

.u-te-ac {
  -webkit-text-emphasis: accent !important;
          text-emphasis: accent !important;
}

.u-te-dt {
  -webkit-text-emphasis: dot !important;
          text-emphasis: dot !important;
}

.u-te-c {
  -webkit-text-emphasis: circle !important;
          text-emphasis: circle !important;
}

.u-te-ds {
  -webkit-text-emphasis: disc !important;
          text-emphasis: disc !important;
}

.u-te-b {
  -webkit-text-emphasis: before !important;
          text-emphasis: before !important;
}

.u-te-a {
  -webkit-text-emphasis: after !important;
          text-emphasis: after !important;
}

.u-td-n {
  text-decoration: none !important;
}

.u-td-u {
  text-decoration: underline !important;
}

.u-td-o {
  text-decoration: overline !important;
}

.u-td-l {
  text-decoration: line-through !important;
}

.u-ti0 {
  text-indent: 0 !important;
}

.u-ti-9999 {
  text-indent: -9999px !important;
}

.u-tov-e {
  text-overflow: ellipsis !important;
}

.u-tov-c {
  text-overflow: clip !important;
}

.u-tsh-n {
  text-shadow: none !important;
}

.u-tt-n {
  text-transform: none !important;
}

.u-tt-c {
  text-transform: capitalize !important;
}

.u-tt-u {
  text-transform: uppercase !important;
}

.u-tt-l {
  text-transform: lowercase !important;
}

.u-lts-nm {
  letter-spacing: normal !important;
}

.u-lts0 {
  letter-spacing: 0 !important;
}

.u-lts1 {
  letter-spacing: 1px !important;
}

.u-lts2 {
  letter-spacing: 2px !important;
}

.u-lts3 {
  letter-spacing: 3px !important;
}

.u-lts4 {
  letter-spacing: 4px !important;
}

.u-lts5 {
  letter-spacing: 5px !important;
}

.u-lts6 {
  letter-spacing: 6px !important;
}

.u-lts0_01e {
  letter-spacing: 0.01em !important;
}

.u-lts0_1e {
  letter-spacing: 0.1em !important;
}

.u-lts0_2e {
  letter-spacing: 0.2em !important;
}

.u-lts0_3e {
  letter-spacing: 0.3em !important;
}

.u-lts-0_01e {
  letter-spacing: -0.01em !important;
}

.u-lts-0_1e {
  letter-spacing: -0.1em !important;
}

.u-lts-0_2e {
  letter-spacing: -0.2em !important;
}

.u-lts-0_3e {
  letter-spacing: -0.3em !important;
}

.u-wob-nm {
  word-break: normal !important;
}

.u-wob-k {
  word-break: keep-all !important;
}

.u-wob-ba {
  word-break: break-all !important;
}

.u-wow-nm {
  word-wrap: normal !important;
}

.u-wow-n {
  word-wrap: none !important;
}

.u-wow-u {
  word-wrap: unrestricted !important;
}

.u-wow-s {
  word-wrap: suppress !important;
}

.u-wow-bw {
  word-wrap: break-word !important;
}

.u-whs-nm {
  white-space: normal !important;
}

.u-whs-p {
  white-space: pre !important;
}

.u-whs-nw {
  white-space: nowrap !important;
}

.u-whs-pw {
  white-space: pre-wrap !important;
}

.u-whs-pl {
  white-space: pre-line !important;
}

.u-va-sup {
  vertical-align: super !important;
}

.u-va-t {
  vertical-align: top !important;
}

.u-va-tt {
  vertical-align: text-top !important;
}

.u-va-m {
  vertical-align: middle !important;
}

.u-va-bl {
  vertical-align: baseline !important;
}

.u-va-b {
  vertical-align: bottom !important;
}

.u-va-tb {
  vertical-align: text-bottom !important;
}

.u-va-sub {
  vertical-align: sub !important;
}

.u-lis-n {
  list-style: none !important;
}

.u-lisp-i {
  list-style-position: inside !important;
}

.u-lisp-o {
  list-style-position: outside !important;
}

.u-list-n {
  list-style-type: none !important;
}

.u-list-d {
  list-style-type: disc !important;
}

.u-list-c {
  list-style-type: circle !important;
}

.u-list-s {
  list-style-type: square !important;
}

.u-list-de {
  list-style-type: decimal !important;
}

.u-list-dlz {
  list-style-type: decimal-leading-zero !important;
}

.u-list-lr {
  list-style-type: lower-roman !important;
}

.u-list-ur {
  list-style-type: upper-roman !important;
}

.u-lisi-n {
  list-style-image: none !important;
}

.u-op0 {
  opacity: 0 !important;
}

.u-op0_1 {
  opacity: 0.1 !important;
}

.u-op0_2 {
  opacity: 0.2 !important;
}

.u-op0_3 {
  opacity: 0.3 !important;
}

.u-op0_4 {
  opacity: 0.4 !important;
}

.u-op0_5 {
  opacity: 0.5 !important;
}

.u-op0_6 {
  opacity: 0.6 !important;
}

.u-op0_7 {
  opacity: 0.7 !important;
}

.u-op0_8 {
  opacity: 0.8 !important;
}

.u-op0_9 {
  opacity: 0.9 !important;
}

.u-op1 {
  opacity: 1 !important;
}

.u-tetr {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}

.u-tehi {
  overflow: hidden !important;
  text-indent: 200% !important;
  white-space: nowrap !important;
}

.u-reli {
  list-style-type: none !important;
  padding-left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-deol {
  list-style-type: decimal !important;
  padding-left: 40px !important;
  padding-left: 40px !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.u-deul {
  list-style-type: disc !important;
  padding-left: 40px !important;
  padding-left: 40px !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.u-fsm-a {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.u-cur-a {
  cursor: auto !important;
}

.u-cur-d {
  cursor: default !important;
}

.u-cur-c {
  cursor: crosshair !important;
}

.u-cur-ha {
  cursor: hand !important;
}

.u-cur-he {
  cursor: help !important;
}

.u-cur-m {
  cursor: move !important;
}

.u-cur-p {
  cursor: pointer !important;
}

.u-cur-t {
  cursor: text !important;
}

.u-rz-n {
  resize: none !important;
}

.u-rz-b {
  resize: both !important;
}

.u-rz-h {
  resize: horizontal !important;
}

.u-rz-v {
  resize: vertical !important;
}

.u-us-a {
  -webkit-user-select: auto !important;
     -moz-user-select: auto !important;
      -ms-user-select: auto !important;
          user-select: auto !important;
}

.u-us-n {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

.u-us-t {
  -webkit-user-select: text !important;
     -moz-user-select: text !important;
      -ms-user-select: text !important;
          user-select: text !important;
}

.u-trsdl0 {
  transition-delay: 0 !important;
}

.u-trsdl0_1s {
  transition-delay: 0.1s !important;
}

.u-trsdl0_2s {
  transition-delay: 0.2s !important;
}

.u-trsdl0_3s {
  transition-delay: 0.3s !important;
}

.u-trsdl0_4s {
  transition-delay: 0.4s !important;
}

.u-trsdl0_5s {
  transition-delay: 0.5s !important;
}

.u-trsdl0_6s {
  transition-delay: 0.6s !important;
}

.u-trsdl0_7s {
  transition-delay: 0.7s !important;
}

.u-trsdl0_8s {
  transition-delay: 0.8s !important;
}

.u-trsdl0_9s {
  transition-delay: 0.9s !important;
}

.u-trsdl1s {
  transition-delay: 1s !important;
}

.u-trsdl2s {
  transition-delay: 2s !important;
}

.u-trsdl3s {
  transition-delay: 3s !important;
}

.u-trsdl4s {
  transition-delay: 4s !important;
}

.u-trsdl5s {
  transition-delay: 5s !important;
}

.u-trsdl6s {
  transition-delay: 6s !important;
}

.u-trstf-e {
  transition-timing-function: ease !important;
}

.u-trstf-ei {
  transition-timing-function: ease-in !important;
}

.u-trstf-eo {
  transition-timing-function: ease-out !important;
}

.u-trstf-eio {
  transition-timing-function: ease-in-out !important;
}

.u-trstf-l {
  transition-timing-function: linear !important;
}

.u-trsdr0 {
  transition-duration: 0 !important;
}

.u-trsdr0_1s {
  transition-duration: 0.1s !important;
}

.u-trsdr0_2s {
  transition-duration: 0.2s !important;
}

.u-trsdr0_3s {
  transition-duration: 0.3s !important;
}

.u-trsdr0_4s {
  transition-duration: 0.4s !important;
}

.u-trsdr0_5s {
  transition-duration: 0.5s !important;
}

.u-trsdr0_6s {
  transition-duration: 0.6s !important;
}

.u-trsdr0_7s {
  transition-duration: 0.7s !important;
}

.u-trsdr0_8s {
  transition-duration: 0.8s !important;
}

.u-trsdr0_9s {
  transition-duration: 0.9s !important;
}

.u-trsdr1s {
  transition-duration: 1s !important;
}

.u-trsdr2s {
  transition-duration: 2s !important;
}

.u-trsdr3s {
  transition-duration: 3s !important;
}

.u-trsdr4s {
  transition-duration: 4s !important;
}

.u-trsdr5s {
  transition-duration: 5s !important;
}

.u-trsdr6s {
  transition-duration: 6s !important;
}

.u-trsp-a {
  transition-property: all !important;
}

.u-trsp-n {
  transition-property: none !important;
}

.u-trf-n {
  transform: none !important;
}

.u-ap-n {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
}

.u-ap-b {
  -webkit-appearance: button !important;
     -moz-appearance: button !important;
          appearance: button !important;
}

.u-ap-c {
  -webkit-appearance: checkbox !important;
     -moz-appearance: checkbox !important;
          appearance: checkbox !important;
}

.u-ap-su {
  -webkit-appearance: scrollbarbutton-up !important;
     -moz-appearance: scrollbarbutton-up !important;
          appearance: scrollbarbutton-up !important;
}

.u-bfv-h {
  -webkit-backface-visibility: hidden !important;
          backface-visibility: hidden !important;
}

.u-bfv-v {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
}

.u-obf-f {
  -o-object-fit: fill !important;
     object-fit: fill !important;
}

.u-obf-ct {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.u-obf-cv {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.u-obf-n {
  -o-object-fit: none !important;
     object-fit: none !important;
}

.u-obf-sd {
  -o-object-fit: scale-down !important;
     object-fit: scale-down !important;
}

.u-wktc-d {
  -webkit-touch-callout: default !important;
}

.u-wktc-n {
  -webkit-touch-callout: none !important;
}

.u-wkovs-a {
  -webkit-overflow-scrolling: auto !important;
}

.u-wkovs-t {
  -webkit-overflow-scrolling: touch !important;
}

.u-bdcl-c {
  border-collapse: collapse !important;
}

.u-bdcl-s {
  border-collapse: separate !important;
}

.u-bd-n {
  border: none !important;
}

.u-bd0 {
  border: 0 !important;
}

.u-bdc-t {
  border-color: transparent !important;
}

.u-bdc-cc {
  border-color: currentColor !important;
}

.u-bdc-white {
  border-color: #ffffff !important;
}

.u-bdc-silver {
  border-color: #dddddd !important;
}

.u-bdc-gray {
  border-color: #aaaaaa !important;
}

.u-bdc-black {
  border-color: #000000 !important;
}

.u-bdc-navy {
  border-color: #001f3f !important;
}

.u-bdc-blue {
  border-color: #0074d9 !important;
}

.u-bdc-aqua {
  border-color: #7fdbff !important;
}

.u-bdc-teal {
  border-color: #39cccc !important;
}

.u-bdc-olive {
  border-color: #3d9970 !important;
}

.u-bdc-green {
  border-color: #2ecc40 !important;
}

.u-bdc-lime {
  border-color: #01ff70 !important;
}

.u-bdc-yellow {
  border-color: #ffdc00 !important;
}

.u-bdc-orange {
  border-color: #ff851b !important;
}

.u-bdc-red {
  border-color: #ff4136 !important;
}

.u-bdc-maroon {
  border-color: #85144b !important;
}

.u-bdc-fuchsia {
  border-color: #f012be !important;
}

.u-bdc-purple {
  border-color: #b10dc9 !important;
}

.u-bdc-primary {
  border-color: #0275d8 !important;
}

.u-bdc-success {
  border-color: #5cb85c !important;
}

.u-bdc-info {
  border-color: #5bc0de !important;
}

.u-bdc-warning {
  border-color: #f0ad4e !important;
}

.u-bdc-danger {
  border-color: #d9534f !important;
}

.u-bds-n {
  border-style: none !important;
}

.u-bds-h {
  border-style: hidden !important;
}

.u-bds-dt {
  border-style: dotted !important;
}

.u-bds-ds {
  border-style: dashed !important;
}

.u-bds-s {
  border-style: solid !important;
}

.u-bds-db {
  border-style: double !important;
}

.u-bds-w {
  border-style: wave !important;
}

.u-bds-g {
  border-style: groove !important;
}

.u-bds-r {
  border-style: ridge !important;
}

.u-bds-i {
  border-style: inset !important;
}

.u-bds-o {
  border-style: outset !important;
}

.u-bdw0 {
  border-width: 0 !important;
}

.u-bdw1 {
  border-width: 1px !important;
}

.u-bdw2 {
  border-width: 2px !important;
}

.u-bdw3 {
  border-width: 3px !important;
}

.u-bdw4 {
  border-width: 4px !important;
}

.u-bdw5 {
  border-width: 5px !important;
}

.u-bdw6 {
  border-width: 6px !important;
}

.u-bdt-n {
  border-top: none !important;
}

.u-bdt0 {
  border-top: 0 !important;
}

.u-bdtc-t {
  border-top-color: transparent !important;
}

.u-bdtc-cc {
  border-top-color: currentColor !important;
}

.u-bdtw0 {
  border-top-width: 0 !important;
}

.u-bdtw1 {
  border-top-width: 1px !important;
}

.u-bdtw2 {
  border-top-width: 2px !important;
}

.u-bdtw3 {
  border-top-width: 3px !important;
}

.u-bdtw4 {
  border-top-width: 4px !important;
}

.u-bdtw5 {
  border-top-width: 5px !important;
}

.u-bdtw6 {
  border-top-width: 6px !important;
}

.u-bdr-n {
  border-right: none !important;
}

.u-bdr0 {
  border-right: 0 !important;
}

.u-bdrc-t {
  border-right-color: transparent !important;
}

.u-bdrc-cc {
  border-right-color: currentColor !important;
}

.u-bdrw0 {
  border-right-width: 0 !important;
}

.u-bdrw1 {
  border-right-width: 1px !important;
}

.u-bdrw2 {
  border-right-width: 2px !important;
}

.u-bdrw3 {
  border-right-width: 3px !important;
}

.u-bdrw4 {
  border-right-width: 4px !important;
}

.u-bdrw5 {
  border-right-width: 5px !important;
}

.u-bdrw6 {
  border-right-width: 6px !important;
}

.u-bdb-n {
  border-bottom: none !important;
}

.u-bdb0 {
  border-bottom: 0 !important;
}

.u-bdbc-t {
  border-bottom-color: transparent !important;
}

.u-bdbc-cc {
  border-bottom-color: currentColor !important;
}

.u-bdbw0 {
  border-bottom-width: 0 !important;
}

.u-bdbw1 {
  border-bottom-width: 1px !important;
}

.u-bdbw2 {
  border-bottom-width: 2px !important;
}

.u-bdbw3 {
  border-bottom-width: 3px !important;
}

.u-bdbw4 {
  border-bottom-width: 4px !important;
}

.u-bdbw5 {
  border-bottom-width: 5px !important;
}

.u-bdbw6 {
  border-bottom-width: 6px !important;
}

.u-bdl-n {
  border-left: none !important;
}

.u-bdl0 {
  border-left: 0 !important;
}

.u-bdlc-t {
  border-left-color: transparent !important;
}

.u-bdlc-cc {
  border-left-color: currentColor !important;
}

.u-bdlw0 {
  border-left-width: 0 !important;
}

.u-bdlw1 {
  border-left-width: 1px !important;
}

.u-bdlw2 {
  border-left-width: 2px !important;
}

.u-bdlw3 {
  border-left-width: 3px !important;
}

.u-bdlw4 {
  border-left-width: 4px !important;
}

.u-bdlw5 {
  border-left-width: 5px !important;
}

.u-bdlw6 {
  border-left-width: 6px !important;
}

.u-bdrs-xs {
  border-radius: 0.1rem !important;
}

.u-bdrs-sm {
  border-radius: 0.2rem !important;
}

.u-bdrs-md {
  border-radius: 0.25rem !important;
}

.u-bdrs-lg {
  border-radius: 0.3rem !important;
}

.u-bdrs-xl {
  border-radius: 0.4rem !important;
}

.u-bdrs0 {
  border-radius: 0 !important;
}

.u-bdrs1 {
  border-radius: 1px !important;
}

.u-bdrs2 {
  border-radius: 2px !important;
}

.u-bdrs3 {
  border-radius: 3px !important;
}

.u-bdrs4 {
  border-radius: 4px !important;
}

.u-bdrs5 {
  border-radius: 5px !important;
}

.u-bdrs6 {
  border-radius: 6px !important;
}

.u-bdrs9999 {
  border-radius: 9999px !important;
}

.u-bdrs50p {
  border-radius: 50% !important;
}

.u-bdi-n {
  -o-border-image: none !important;
     border-image: none !important;
}

.u-ol-n {
  outline: none !important;
}

.u-olw-tn {
  outline-width: thin !important;
}

.u-olw-md {
  outline-width: medium !important;
}

.u-olw-tc {
  outline-width: thick !important;
}

.u-ols-n {
  outline-style: none !important;
}

.u-ols-dt {
  outline-style: dotted !important;
}

.u-ols-ds {
  outline-style: dashed !important;
}

.u-ols-s {
  outline-style: solid !important;
}

.u-ols-db {
  outline-style: double !important;
}

.u-ols-g {
  outline-style: groove !important;
}

.u-ols-r {
  outline-style: ridge !important;
}

.u-ols-i {
  outline-style: inset !important;
}

.u-ols-o {
  outline-style: outset !important;
}

.u-olc-i {
  outline-color: invert !important;
}

.u-bg-n {
  background: none !important;
}

.u-bgc-t {
  background-color: transparent !important;
}

.u-bgc-cc {
  background-color: currentColor !important;
}

.u-bgc-white {
  background-color: #ffffff !important;
}

.u-bgc-silver {
  background-color: #dddddd !important;
}

.u-bgc-gray {
  background-color: #aaaaaa !important;
}

.u-bgc-black {
  background-color: #000000 !important;
}

.u-bgc-navy {
  background-color: #001f3f !important;
}

.u-bgc-blue {
  background-color: #0074d9 !important;
}

.u-bgc-aqua {
  background-color: #7fdbff !important;
}

.u-bgc-teal {
  background-color: #39cccc !important;
}

.u-bgc-olive {
  background-color: #3d9970 !important;
}

.u-bgc-green {
  background-color: #2ecc40 !important;
}

.u-bgc-lime {
  background-color: #01ff70 !important;
}

.u-bgc-yellow {
  background-color: #ffdc00 !important;
}

.u-bgc-orange {
  background-color: #ff851b !important;
}

.u-bgc-red {
  background-color: #ff4136 !important;
}

.u-bgc-maroon {
  background-color: #85144b !important;
}

.u-bgc-fuchsia {
  background-color: #f012be !important;
}

.u-bgc-purple {
  background-color: #b10dc9 !important;
}

.u-bgc-primary {
  background-color: #0275d8 !important;
}

.u-bgc-success {
  background-color: #5cb85c !important;
}

.u-bgc-info {
  background-color: #5bc0de !important;
}

.u-bgc-warning {
  background-color: #f0ad4e !important;
}

.u-bgc-danger {
  background-color: #d9534f !important;
}

.u-bgi-n {
  background-image: none !important;
}

.u-bgr-n {
  background-repeat: no-repeat !important;
}

.u-bgr-rx {
  background-repeat: repeat-x !important;
}

.u-bgr-ry {
  background-repeat: repeat-y !important;
}

.u-bgr-sp {
  background-repeat: space !important;
}

.u-bgr-rd {
  background-repeat: round !important;
}

.u-bga-f {
  background-attachment: fixed !important;
}

.u-bga-s {
  background-attachment: scroll !important;
}

.u-bgp-t {
  background-position: top !important;
}

.u-bgp-r {
  background-position: right !important;
}

.u-bgp-b {
  background-position: bottom !important;
}

.u-bgp-l {
  background-position: left !important;
}

.u-bgp-c {
  background-position: center !important;
}

.u-bgz-a {
  background-size: auto !important;
}

.u-bgz-ct {
  background-size: contain !important;
}

.u-bgz-cv {
  background-size: cover !important;
}

.u-bxsh-n {
  box-shadow: none !important;
}

.u-m0 {
  margin: 0 !important;
}

.u-m-a {
  margin: auto !important;
}

.u-m0-a {
  margin: 0 auto !important;
}

.u-m-a-0 {
  margin: auto 0 !important;
}

.u-m-xs {
  margin: 0.2rem !important;
}

.u-m-sm {
  margin: 0.5rem !important;
}

.u-m-md {
  margin: 1rem !important;
}

.u-m-lg {
  margin: 1.5rem !important;
}

.u-m-xl {
  margin: 3rem !important;
}

.u-mt0 {
  margin-top: 0 !important;
}

.u-mt-a {
  margin-top: auto !important;
}

.u-mt-xs {
  margin-top: 0.2rem !important;
}

.u-mt-sm {
  margin-top: 0.5rem !important;
}

.u-mt-md {
  margin-top: 1rem !important;
}

.u-mt-lg {
  margin-top: 1.5rem !important;
}

.u-mt-xl {
  margin-top: 3rem !important;
}

.u-mr0 {
  margin-right: 0 !important;
}

.u-mr-a {
  margin-right: auto !important;
}

.u-mr-xs {
  margin-right: 0.2rem !important;
}

.u-mr-sm {
  margin-right: 0.5rem !important;
}

.u-mr-md {
  margin-right: 1rem !important;
}

.u-mr-lg {
  margin-right: 1.5rem !important;
}

.u-mr-xl {
  margin-right: 3rem !important;
}

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-mb-a {
  margin-bottom: auto !important;
}

.u-mb-xs {
  margin-bottom: 0.2rem !important;
}

.u-mb-sm {
  margin-bottom: 0.5rem !important;
}

.u-mb-md {
  margin-bottom: 1rem !important;
}

.u-mb-lg {
  margin-bottom: 1.5rem !important;
}

.u-mb-xl {
  margin-bottom: 3rem !important;
}

.u-ml0 {
  margin-left: 0 !important;
}

.u-ml-a {
  margin-left: auto !important;
}

.u-ml-xs {
  margin-left: 0.2rem !important;
}

.u-ml-sm {
  margin-left: 0.5rem !important;
}

.u-ml-md {
  margin-left: 1rem !important;
}

.u-ml-lg {
  margin-left: 1.5rem !important;
}

.u-ml-xl {
  margin-left: 3rem !important;
}

.u-mx0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.u-my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-mx-a {
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-my-a {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.u-mx-xs {
  margin-left: 0.2rem !important;
  margin-right: 0.2rem !important;
}

.u-my-xs {
  margin-top: 0.2rem !important;
  margin-bottom: 0.2rem !important;
}

.u-mx-sm {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.u-my-sm {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.u-mx-md {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.u-my-md {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.u-mx-lg {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.u-my-lg {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.u-mx-xl {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.u-my-xl {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.u-p0 {
  padding: 0 !important;
}

.u-p-xs {
  padding: 0.2rem !important;
}

.u-p-sm {
  padding: 0.5rem !important;
}

.u-p-md {
  padding: 1rem !important;
}

.u-p-lg {
  padding: 1.5rem !important;
}

.u-p-xl {
  padding: 3rem !important;
}

.u-pt0 {
  padding-top: 0 !important;
}

.u-pt-xs {
  padding-top: 0.2rem !important;
}

.u-pt-sm {
  padding-top: 0.5rem !important;
}

.u-pt-md {
  padding-top: 1rem !important;
}

.u-pt-lg {
  padding-top: 1.5rem !important;
}

.u-pt-xl {
  padding-top: 3rem !important;
}

.u-pr0 {
  padding-right: 0 !important;
}

.u-pr-xs {
  padding-right: 0.2rem !important;
}

.u-pr-sm {
  padding-right: 0.5rem !important;
}

.u-pr-md {
  padding-right: 1rem !important;
}

.u-pr-lg {
  padding-right: 1.5rem !important;
}

.u-pr-xl {
  padding-right: 3rem !important;
}

.u-pb0 {
  padding-bottom: 0 !important;
}

.u-pb-xs {
  padding-bottom: 0.2rem !important;
}

.u-pb-sm {
  padding-bottom: 0.5rem !important;
}

.u-pb-md {
  padding-bottom: 1rem !important;
}

.u-pb-lg {
  padding-bottom: 1.5rem !important;
}

.u-pb-xl {
  padding-bottom: 3rem !important;
}

.u-pl0 {
  padding-left: 0 !important;
}

.u-pl-xs {
  padding-left: 0.2rem !important;
}

.u-pl-sm {
  padding-left: 0.5rem !important;
}

.u-pl-md {
  padding-left: 1rem !important;
}

.u-pl-lg {
  padding-left: 1.5rem !important;
}

.u-pl-xl {
  padding-left: 3rem !important;
}

.u-px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.u-py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.u-px-xs {
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}

.u-py-xs {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.u-px-sm {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.u-py-sm {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.u-px-md {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.u-py-md {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.u-px-lg {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.u-py-lg {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.u-px-xl {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.u-py-xl {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.u-ff-s {
  font-family: serif !important;
}

.u-ff-ss {
  font-family: sans-serif !important;
}

.u-ff-c {
  font-family: cursive !important;
}

.u-ff-f {
  font-family: fantasy !important;
}

.u-ff-m {
  font-family: monospace !important;
}

.u-fz-xs {
  font-size: 0.75rem !important;
}

.u-fz-sm {
  font-size: 0.875rem !important;
}

.u-fz-md {
  font-size: 1rem !important;
}

.u-fz-lg {
  font-size: 1.25rem !important;
}

.u-fz-xl {
  font-size: 1.5rem !important;
}

.u-fz-sr {
  font-size: smaller !important;
}

.u-fz-lr {
  font-size: larger !important;
}

.u-fz0 {
  font-size: 0 !important;
}

.u-fz10 {
  font-size: 10px !important;
}

.u-fz11 {
  font-size: 11px !important;
}

.u-fz12 {
  font-size: 12px !important;
}

.u-fz13 {
  font-size: 13px !important;
}

.u-fz14 {
  font-size: 14px !important;
}

.u-fz15 {
  font-size: 15px !important;
}

.u-fz16 {
  font-size: 16px !important;
}

.u-fz17 {
  font-size: 17px !important;
}

.u-fz18 {
  font-size: 18px !important;
}

.u-fz19 {
  font-size: 19px !important;
}

.u-fz20 {
  font-size: 20px !important;
}

.u-fz-h1 {
  font-size: 2.5rem !important;
}

.u-fz-h2 {
  font-size: 2rem !important;
}

.u-fz-h3 {
  font-size: 1.75rem !important;
}

.u-fz-h4 {
  font-size: 1.5rem !important;
}

.u-fz-h5 {
  font-size: 1.25rem !important;
}

.u-fz-h6 {
  font-size: 1rem !important;
}

.u-fs-nm {
  font-style: normal !important;
}

.u-fs-i {
  font-style: italic !important;
}

.u-fs-o {
  font-style: oblique !important;
}

.u-fw-nm {
  font-weight: 400 !important;
}

.u-fw-b {
  font-weight: 700 !important;
}

.u-fw-l {
  font-weight: 300 !important;
}

.u-fw-br {
  font-weight: bolder !important;
}

.u-fw-lr {
  font-weight: lighter !important;
}

.u-fw100 {
  font-weight: 100 !important;
}

.u-fw200 {
  font-weight: 200 !important;
}

.u-fw300 {
  font-weight: 300 !important;
}

.u-fw400 {
  font-weight: 400 !important;
}

.u-fw500 {
  font-weight: 500 !important;
}

.u-fw600 {
  font-weight: 600 !important;
}

.u-fw700 {
  font-weight: 700 !important;
}

.u-fw800 {
  font-weight: 800 !important;
}

.u-fw900 {
  font-weight: 900 !important;
}

.u-fv-nm {
  font-variant: normal !important;
}

.u-fv-sc {
  font-variant: small-caps !important;
}

.u-wkfsm-aa {
  -webkit-font-smoothing: antialiased !important;
}

.u-wkfsm-saa {
  -webkit-font-smoothing: subpixel-antialiased !important;
}

.u-wkfsm-n {
  -webkit-font-smoothing: none !important;
}

.u-mzfsm-g {
  -moz-osx-font-smoothing: grayscale !important;
}

.u-mzfsm-u {
  -moz-osx-font-smoothing: unset !important;
}

.u-lh-nm {
  line-height: normal !important;
}

.u-lh-ih {
  line-height: inherit !important;
}

.u-lh0 {
  line-height: 0 !important;
}

.u-lh1 {
  line-height: 1 !important;
}

.u-lh2 {
  line-height: 2 !important;
}

.u-lh3 {
  line-height: 3 !important;
}

.u-lh4 {
  line-height: 4 !important;
}

.u-lh5 {
  line-height: 5 !important;
}

.u-lh6 {
  line-height: 6 !important;
}

.u-lh-xs {
  line-height: 1.25 !important;
}

.u-lh-sm {
  line-height: 1.33 !important;
}

.u-lh-md {
  line-height: 1.5 !important;
}

.u-lh-lg {
  line-height: 1.75 !important;
}

.u-lh-xl {
  line-height: 2 !important;
}

