.l-footer {
    background-color: $co-base0;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 -4px 8px rgba(0,0,0,.28);
    border-top: 1px solid $co-base1;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
    position: relative;
    z-index: 150;
}