.l-footer {
    background-color: $co-base0;
    // box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    // border-bottom: 1px solid $co-base1;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    text-align: center;
    // position: fixed;
    width: 100%;
    // z-index: 999;
    // padding-top: 1rem;
    padding-bottom: 1rem;
}