.l-header {
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    border-bottom: 1px solid #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}