.u-ff-s { font-family: serif !important; }
.u-ff-ss { font-family: sans-serif !important; }
.u-ff-c { font-family: cursive !important; }
.u-ff-f { font-family: fantasy !important; }
.u-ff-m { font-family: monospace !important; }
.u-fz-xs { font-size: 0.75rem !important; }
.u-fz-sm { font-size: 0.875rem !important; }
.u-fz-md { font-size: 1rem !important; }
.u-fz-lg { font-size: 1.25rem !important; }
.u-fz-xl { font-size: 1.5rem !important; }
.u-fz-sr { font-size: smaller !important; }
.u-fz-lr { font-size: larger !important; }
.u-fz0 { font-size: 0 !important; }
.u-fz10 { font-size: 10px !important; }
.u-fz11 { font-size: 11px !important; }
.u-fz12 { font-size: 12px !important; }
.u-fz13 { font-size: 13px !important; }
.u-fz14 { font-size: 14px !important; }
.u-fz15 { font-size: 15px !important; }
.u-fz16 { font-size: 16px !important; }
.u-fz17 { font-size: 17px !important; }
.u-fz18 { font-size: 18px !important; }
.u-fz19 { font-size: 19px !important; }
.u-fz20 { font-size: 20px !important; }
.u-fz-h1 { font-size: 2.5rem !important; }
.u-fz-h2 { font-size: 2rem !important; }
.u-fz-h3 { font-size: 1.75rem !important; }
.u-fz-h4 { font-size: 1.5rem !important; }
.u-fz-h5 { font-size: 1.25rem !important; }
.u-fz-h6 { font-size: 1rem !important; }
.u-fs-nm { font-style: normal !important; }
.u-fs-i { font-style: italic !important; }
.u-fs-o { font-style: oblique !important; }
.u-fw-nm { font-weight: 400 !important; }
.u-fw-b { font-weight: 700 !important; }
.u-fw-l { font-weight: 300 !important; }
.u-fw-br { font-weight: bolder !important; }
.u-fw-lr { font-weight: lighter !important; }
.u-fw100 { font-weight: 100 !important; }
.u-fw200 { font-weight: 200 !important; }
.u-fw300 { font-weight: 300 !important; }
.u-fw400 { font-weight: 400 !important; }
.u-fw500 { font-weight: 500 !important; }
.u-fw600 { font-weight: 600 !important; }
.u-fw700 { font-weight: 700 !important; }
.u-fw800 { font-weight: 800 !important; }
.u-fw900 { font-weight: 900 !important; }
.u-fv-nm { font-variant: normal !important; }
.u-fv-sc { font-variant: small-caps !important; }
.u-wkfsm-aa { -webkit-font-smoothing: antialiased !important; }
.u-wkfsm-saa { -webkit-font-smoothing: subpixel-antialiased !important; }
.u-wkfsm-n { -webkit-font-smoothing: none !important; }
.u-mzfsm-g { -moz-osx-font-smoothing: grayscale !important; }
.u-mzfsm-u { -moz-osx-font-smoothing: unset !important; }
.u-lh-nm { line-height: normal !important; }
.u-lh-ih { line-height: inherit !important; }
.u-lh0 { line-height: 0 !important; }
.u-lh1 { line-height: 1 !important; }
.u-lh2 { line-height: 2 !important; }
.u-lh3 { line-height: 3 !important; }
.u-lh4 { line-height: 4 !important; }
.u-lh5 { line-height: 5 !important; }
.u-lh6 { line-height: 6 !important; }
.u-lh-xs { line-height: 1.25 !important; }
.u-lh-sm { line-height: 1.33 !important; }
.u-lh-md { line-height: 1.5 !important; }
.u-lh-lg { line-height: 1.75 !important; }
.u-lh-xl { line-height: 2 !important; }