.u-m0 { margin: 0 !important; }
.u-m-a { margin: auto !important; }
.u-m0-a { margin: 0 auto !important; }
.u-m-a-0 { margin: auto 0 !important; }
.u-m-xs { margin: 0.2rem !important; }
.u-m-sm { margin: 0.5rem !important; }
.u-m-md { margin: 1rem !important; }
.u-m-lg { margin: 1.5rem !important; }
.u-m-xl { margin: 3rem !important; }
.u-mt0 { margin-top: 0 !important; }
.u-mt-a { margin-top: auto !important; }
.u-mt-xs { margin-top: 0.2rem !important; }
.u-mt-sm { margin-top: 0.5rem !important; }
.u-mt-md { margin-top: 1rem !important; }
.u-mt-lg { margin-top: 1.5rem !important; }
.u-mt-xl { margin-top: 3rem !important; }
.u-mr0 { margin-right: 0 !important; }
.u-mr-a { margin-right: auto !important; }
.u-mr-xs { margin-right: 0.2rem !important; }
.u-mr-sm { margin-right: 0.5rem !important; }
.u-mr-md { margin-right: 1rem !important; }
.u-mr-lg { margin-right: 1.5rem !important; }
.u-mr-xl { margin-right: 3rem !important; }
.u-mb0 { margin-bottom: 0 !important; }
.u-mb-a { margin-bottom: auto !important; }
.u-mb-xs { margin-bottom: 0.2rem !important; }
.u-mb-sm { margin-bottom: 0.5rem !important; }
.u-mb-md { margin-bottom: 1rem !important; }
.u-mb-lg { margin-bottom: 1.5rem !important; }
.u-mb-xl { margin-bottom: 3rem !important; }
.u-ml0 { margin-left: 0 !important; }
.u-ml-a { margin-left: auto !important; }
.u-ml-xs { margin-left: 0.2rem !important; }
.u-ml-sm { margin-left: 0.5rem !important; }
.u-ml-md { margin-left: 1rem !important; }
.u-ml-lg { margin-left: 1.5rem !important; }
.u-ml-xl { margin-left: 3rem !important; }
.u-mx0 { margin-left: 0 !important; margin-right: 0 !important; }
.u-my0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.u-mx-a { margin-left: auto !important; margin-right: auto !important; }
.u-my-a { margin-top: auto !important; margin-bottom: auto !important; }
.u-mx-xs { margin-left: 0.2rem !important; margin-right: 0.2rem !important; }
.u-my-xs { margin-top: 0.2rem !important; margin-bottom: 0.2rem !important; }
.u-mx-sm { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
.u-my-sm { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
.u-mx-md { margin-left: 1rem !important; margin-right: 1rem !important; }
.u-my-md { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.u-mx-lg { margin-left: 1.5rem !important; margin-right: 1.5rem !important; }
.u-my-lg { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; }
.u-mx-xl { margin-left: 3rem !important; margin-right: 3rem !important; }
.u-my-xl { margin-top: 3rem !important; margin-bottom: 3rem !important; }