.u-p0 { padding: 0 !important; }
.u-p-xs { padding: 0.2rem !important; }
.u-p-sm { padding: 0.5rem !important; }
.u-p-md { padding: 1rem !important; }
.u-p-lg { padding: 1.5rem !important; }
.u-p-xl { padding: 3rem !important; }
.u-pt0 { padding-top: 0 !important; }
.u-pt-xs { padding-top: 0.2rem !important; }
.u-pt-sm { padding-top: 0.5rem !important; }
.u-pt-md { padding-top: 1rem !important; }
.u-pt-lg { padding-top: 1.5rem !important; }
.u-pt-xl { padding-top: 3rem !important; }
.u-pr0 { padding-right: 0 !important; }
.u-pr-xs { padding-right: 0.2rem !important; }
.u-pr-sm { padding-right: 0.5rem !important; }
.u-pr-md { padding-right: 1rem !important; }
.u-pr-lg { padding-right: 1.5rem !important; }
.u-pr-xl { padding-right: 3rem !important; }
.u-pb0 { padding-bottom: 0 !important; }
.u-pb-xs { padding-bottom: 0.2rem !important; }
.u-pb-sm { padding-bottom: 0.5rem !important; }
.u-pb-md { padding-bottom: 1rem !important; }
.u-pb-lg { padding-bottom: 1.5rem !important; }
.u-pb-xl { padding-bottom: 3rem !important; }
.u-pl0 { padding-left: 0 !important; }
.u-pl-xs { padding-left: 0.2rem !important; }
.u-pl-sm { padding-left: 0.5rem !important; }
.u-pl-md { padding-left: 1rem !important; }
.u-pl-lg { padding-left: 1.5rem !important; }
.u-pl-xl { padding-left: 3rem !important; }
.u-px0 { padding-left: 0 !important; padding-right: 0 !important; }
.u-py0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.u-px-xs { padding-left: 0.2rem !important; padding-right: 0.2rem !important; }
.u-py-xs { padding-top: 0.2rem !important; padding-bottom: 0.2rem !important; }
.u-px-sm { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
.u-py-sm { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
.u-px-md { padding-left: 1rem !important; padding-right: 1rem !important; }
.u-py-md { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.u-px-lg { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
.u-py-lg { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }
.u-px-xl { padding-left: 3rem !important; padding-right: 3rem !important; }
.u-py-xl { padding-top: 3rem !important; padding-bottom: 3rem !important; }